<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Post -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <h1>Все новости</h1>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Превью статьи</td>
            </tr>

            {% for separate_news in news %}
            <tr>
                <td>{{ separate_news.title }}</td>
                <td>{{ separate_news.created_date.time_now|date:'d M Y' }}</td>
                <td>{{ separate_news.text|truncatewords:20 }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}